.container {
  border: 1px solid white;
  margin: 10px auto;
  padding: 10px;
  border-radius: 20px;
  color: white;
  width: 80%;
}

.exp-inp {
  margin: 20px auto;
}

.btn-add {
  background-color: #ff4500;
  border-color: #ff4500;
  color: white;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-clear,
.btn-submit {
  width: 100%;
  font-size: 20px;
  margin: 10px 0;
  color: white;
}

.btn-clear {
  background-color: transparent;
  border-color: white;
}

.btn-submit {
  background-color: #ff4500;
}

.chip {
  display: inline-block;
  padding: 0.5rem 1rem;
  margin: 0.25rem;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 20px;
  font-size: 0.875rem;
  color: white;
  transition: background-color 0.3s;
}

.delete-icon {
  margin-left: 0.5rem;
  cursor: pointer;
  color: red;
}
