<!-- app.component.html -->
<footer class="footer">
  <div class="footer-container">
    <!-- About Section -->
    <div class="footer-col about">
      <h3>Made By Yuvraj Singh</h3>
    </div>

    <!-- Follow Us Section -->
    <div class="footer-col follow">
      <h3>Follow Me</h3>
      <div class="social-links">
        <a href="https://www.linkedin.com/in/yuvraj-singh-12b452228/" target="_blank"><i
            class="fab fa-linkedin-in"></i></a>
        <a href="https://github.com/yuvraj0028/rule-engine-AST" target="_blank"><i class="fab fa-github"></i></a>
      </div>
    </div>
  </div>
</footer>