<div class="about-container">
  <div class="info">
    <h3>About</h3>
    <p>
      User-friendly rule engine 📐 implemented with <a href="https://en.wikipedia.org/wiki/Abstract_syntax_tree"
        class="info-link" target="_blank">AST</a> for making a logical data structure to evaluate attributes.
    </p>
  </div>
  <div class="info">
    <h3>Expression</h3>
    <p>
      Use this expression to create your rule and save to database.
      <code>
        <b>
          <em>(age > 30 AND department = 'Sales')</em>
        </b>
      </code>
    </p>
  </div>
  <div class="info">
    <h3>Evaluate</h3>
    <p>
      Use these attribute data to evaluate it against the rules saved in database.
      <br>
      <b>
        <code> <em>Age : 35</em> </code> <br>
        <code><em> Department : Sales</em> </code> <br>
        <code><em> Salary : 60000</em> </code> <br>
        <code><em> Experience : 3</em> </code> <br>
      </b>
    </p>
  </div>
</div>
